@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
    background-color: rgb(220, 220, 220);
    font-family: 'Raleway', sans-serif;
}

.cube {
    border: 1px solid rgb(100, 100, 100);
    border-radius: 10px;
    width: 60px;
    height: 60px;
    background-color: white;
    box-shadow: 5px -5px 10px inset rgba(0, 0, 0, 0.1);
    padding: 10px;


}

.circle {
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    width: 12px;
    height: 12px;
}

.container {


    display: flex;
    justify-content: space-between;
}


.cube-1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cube-2 {

    display: flex;
    justify-content: space-between;

}

.cube-2 .circle:first-child {

    align-self: flex-end;
}

.cube-2 .circle:nth-child(2) {

    align-self: flex-start;
}


.cube-3 {

    display: flex;
    justify-content: space-between;

}

.cube-3 .circle:first-child {

    align-self: flex-end;
}

.cube-3 .circle:nth-child(2) {


    align-self: center;
    justify-content: center;
}

.cube-3 .circle:nth-child(3) {

    align-self: flex-start;
}


.cube-4 {

    display: flex;
    justify-content: stretch;

}

.cube-4 .circle:first-child {

    align-self: start;
}

.cube-4 .circle:nth-child(2) {


    align-self: flex-end;
    
}


.cube-4 .circle:nth-child(3) {


    align-self: flex-end;
    justify-content: flex-end;
    
}




