body{



    background-color: lightgray;
}



.box, .box-first {



background-color: white;
border: solid black 1px;
padding: 5px;

}

/* .box2{



background-color: white;
border: solid black 1px;

} */