@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
    background-color: rgb(220, 220, 220);
    font-family: 'Raleway', sans-serif;
}

.box,
.box-first {
    background-color: white;
    padding: 5px;
    border: 1px solid black;
}